html, body {
	margin: 0 auto;
	position: relative;
	overflow: hidden;
}

#body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: 'Urbanist', sans-serif;

}

.bgContainer {
	width: 100%;
	height: 100%;
	overflow: hiden;
	z-index: -1;

}

.bgContainer img {
	width: 100%;
	height: 100%;
}

.cardContainer {
	z-index: 2;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.cardContainer img {
	height: 100%;
}

.mirrorContainer {
    width: 100%;
	z-index: 1;
	position: absolute;
	bottom: -30px;
	right: -200px;
}

.mirrorContainer img {
	width: 100%;
	object-fit: cover;
}

.textContainer {
	width: 50%;
	z-index: 3;
	position: absolute;
	bottom: 0;
	right: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.textContainer div {

}


@-webkit-keyframes Gradiential {
	0% {
	  background-position: 40% 0%;
	}
	50% {
	  background-position: 61% 100%;
	}
	100% {
	  background-position: 40% 0%;
	}
  }
  @keyframes Gradiential {
	0% {
	  background-position: 40% 0%;
	}
	50% {
	  background-position: 61% 100%;
	}
	100% {
	  background-position: 40% 0%;
	}
  }

  .invitationBtn {
	width: 200px;
	height: 150px;
	-moz-border-radius: 100px / 75px;
	-webkit-border-radius: 100px / 75px;
	border-radius: 100px / 75px;
	z-index: 10;
	background: linear-gradient(4deg, #ffffff, #f1ffcc);
	background-size: 400% 400%;
	filter: blur(10px);
	-webkit-filter: blur(10px);
	opacity: 80%;
	position: fixed;
	bottom: 5%;
	left: 2.5%;
	-webkit-animation: Gradiential 3s ease infinite;
	animation: Gradiential 3s ease infinite;
  }

  .invitationText {
	  z-index: 100;
	  width: 200px;
	  height: 150px;
	  -moz-border-radius: 100px / 75px;
	  -webkit-border-radius: 100px / 75px;
	  border-radius: 100px / 75px;
	  z-index: 100;
	  background-size: 400% 400%;
	  position: fixed;
	  bottom: 0.7%;
	  left: 3.5%;

  }

/* TOPOF COMMON */
